---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: clusters.tarantool.io
spec:
  group: tarantool.io
  names:
    kind: Cluster
    listKind: ClusterList
    plural: clusters
    singular: cluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.state
      name: State
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Cluster is the Schema for the clusters API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ClusterSpec defines the desired state of Cluster
            properties:
              selector:
                description: 'INSERT ADDITIONAL SPEC FIELDS - desired state of cluster
                  Important: Run "operator-sdk generate k8s" to regenerate code after
                  modifying this file Add custom validation using kubebuilder tags:
                  https://book-v1.book.kubebuilder.io/beyond_basics/generating_crd.html'
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: matchLabels is a map of {key,value} pairs. A single
                      {key,value} in the matchLabels map is equivalent to an element
                      of matchExpressions, whose key field is "key", the operator
                      is "In", and the values array contains only "value". The requirements
                      are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
            type: object
          status:
            description: ClusterStatus defines the observed state of Cluster
            properties:
              state:
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "operator-sdk generate k8s" to regenerate
                  code after modifying this file Add custom validation using kubebuilder
                  tags: https://book-v1.book.kubebuilder.io/beyond_basics/generating_crd.html'
                type: string
            type: object
        type: object
    served: false
    storage: false
    subresources:
      status: {}
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Phase
      type: string
    - jsonPath: .status.leader
      name: Leader
      type: string
    - jsonPath: .status.bootstrapped
      name: Bootstrapped
      type: boolean
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: Cluster is the Schema for the clusters API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ClusterSpec defines the desired state of Cluster
            properties:
              domain:
                default: cluster.local
                description: 'Domain is kubernetes cluster domain, defaults to: "cluster.local".'
                type: string
              failover:
                description: 'Failover defines cartridge failover params More info:
                  https://www.tarantool.io/doc/latest/book/cartridge/cartridge_api/modules/cartridge/#failoverparams'
                properties:
                  etcd2:
                    description: Etcd2 is a config for "etcd2" failover state provider
                    properties:
                      endpoints:
                        description: Endpoints - URIs that are used to discover and
                          to access etcd cluster instances.
                        items:
                          type: string
                        type: array
                      lockDelay:
                        default: 10
                        description: 'LockDelay - Timeout (in seconds), determines
                          lock’s time-to-live (default: 10)'
                        format: int32
                        type: integer
                      password:
                        description: Password for etcd2 connection
                        properties:
                          name:
                            description: name is unique within a namespace to reference
                              a secret resource.
                            type: string
                          namespace:
                            description: namespace defines the space within which
                              the secret name must be unique.
                            type: string
                        type: object
                        x-kubernetes-map-type: atomic
                      prefix:
                        description: 'Prefix used for etcd keys: <prefix>/lock and`<prefix>/leaders`,
                          defaults to empty string'
                        type: string
                      username:
                        description: Username for etcd2 connection
                        type: string
                    required:
                    - username
                    type: object
                  fencing:
                    default: false
                    description: 'Fencing - Abandon leadership when both the state
                      provider quorum and atleast one replica are lost (suitable in
                      stateful mode only,default: false)'
                    type: boolean
                  fencingPause:
                    default: 2
                    description: 'FencingPause - The period (in seconds) of performing
                      the check(default: 2)'
                    format: int32
                    type: integer
                  fencingTimeout:
                    default: 10
                    description: 'FencingTimeout - Time (in seconds) to actuate fencing
                      after the check fails(default: 10)'
                    format: int32
                    type: integer
                  mode:
                    default: disabled
                    description: 'Mode is a string value which determinate Cartridge
                      failover mode. Allowed value is one of disabled, eventual, stateful.
                      More info: https://www.tarantool.io/doc/latest/book/cartridge/cartridge_api/modules/cartridge/#automatic-failover-management'
                    enum:
                    - disabled
                    - eventual
                    - stateful
                    - raft
                    type: string
                  stateProvider:
                    description: StateProvider - storage for failover state. Only
                      «etcd2» supported at the moment.
                    enum:
                    - etcd2
                    - stateboard
                    type: string
                  stateboard:
                    description: Stateboard is a config for "stateboard" failover
                      state provider
                    properties:
                      password:
                        description: Password for etcd2 connection
                        properties:
                          name:
                            description: name is unique within a namespace to reference
                              a secret resource.
                            type: string
                          namespace:
                            description: namespace defines the space within which
                              the secret name must be unique.
                            type: string
                        type: object
                        x-kubernetes-map-type: atomic
                      uril:
                        description: URI of stateboard
                        type: string
                    required:
                    - uril
                    type: object
                  timeout:
                    default: 20
                    description: 'Timeout (in seconds), used by membership tomark
                      suspect members as dead (default: 20)'
                    format: int32
                    type: integer
                type: object
              foreignLeader:
                description: Failover defines foreign cartridge instance as topology
                  leader
                type: string
              listenPort:
                default: 3301
                description: ListenPort is port where tarantool iproto starts
                format: int32
                type: integer
            required:
            - failover
            type: object
          status:
            description: ClusterStatus defines the observed state of Cluster
            properties:
              bootstrapped:
                default: false
                description: Bootstrapped indicates that vshard was bootstrapped
                type: boolean
              leader:
                description: Leader indicates name of pod which use to control topology
                type: string
              phase:
                default: Pending
                description: Phase indicates current state of cluster
                type: string
            required:
            - bootstrapped
            - phase
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
