{{- if .Values.tarantool.config }}
apiVersion: tarantool.io/v1beta1
kind: CartridgeConfig
metadata:
  name: {{ include "cartridge.fullname" . }}
  labels: {{- include "cartridge.labels" . | nindent 4 }}
  {{- if .Values.annotations }}
  annotations: {{- tpl (.Values.annotations | toYaml) $ | nindent 4 }}
  {{- end }}
spec:
  data: | {{- .Values.tarantool.config | toYaml | nindent 4 }}
{{- end -}}
